body {
  background: url("../Images/nebula.jpg") no-repeat center center fixed;
  background-size: cover;
  /* margin: 0; */
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}

header {
  background: rgba(25, 0, 50, 0.8);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: #c0b8ff;
}

.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.project {
  background-color: rgba(26, 19, 51, 0.95);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #4b00b3;
  margin-bottom: 2rem;
  transition: transform 0.2s;
}

.project:hover {
  transform: scale(1.32);
  cursor: pointer;
}

.project h2 {
  color: #c084fc;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.project p {
  margin: 0.4rem 0;
  color: #e0d6ff;
  text-decoration: none;
}

.project p strong {
  color: #ffffff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #140e2a;
  font-size: 0.9rem;
  color: #aaa;
  
}

#particles-hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; /* Esto permite que el mouse lo atraviese */
}

canvas.particles-js-canvas-el {
  filter: drop-shadow(0 0 8px #c084fc) drop-shadow(0 0 4px #fff);
}